{% extends "publicapp/publicapp_layout.html" %}
{% block content %}

<body>
    

    <!-- banner -->
    
    <!-- //banner -->

    <!-- banner bottom -->
    <section class="w3ls-bnrbtm py-5" id="about">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="title-w3 mb-md-5 mb-sm-4 mb-2 text-center font-weight-bold">About Us</h3>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="../static/publicapp/images/about.jpg" alt="about" class="img-fluid mt-4">
                </div>
                <div class="col-lg-6 pr-xl-5 mt-4">
                    <h3 class="title-sub mb-4">Child Care Centre Clarence Street </h3>
                    <p class="sub-para">Kids Club Clarence Street is conveniently located at the north end of Sydney’s CBD,
                        right at the exit of Wynyard Train Station. 
                        The Centre conveniently has 15 minutes of underground parking to make pick up and drop off easier.
                        Our central location makes it easily accessible whether you travel on Sydney’s public transport network or by car.</p>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- //banner bottom -->

    <!-- services -->
    
    

</body>
{% endblock %}