{% extends "publicapp/publicapp_layout.html" %}
{% block content %}

<body>
    <!-- banner -->
    <div class="main-w3pvt mian-content-wthree text-center" id="home">
        <div class="container">
            <div class="style-banner mx-auto">
                <h3 class="text-wh font-weight-bold">Welcome to  <span style="color:blue;font-weight:bold">LEORA'Zz</span>Education</h3>
                <h2><p style="color:rgb(255, 187, 0)">We are waiting...<br> RING...9061532785</p></h2>
                
            </div>
        </div>
    </div>
    <!-- //banner -->


</body>




{% endblock %}

