{% extends "publicapp/publicapp_layout.html" %}
{% block content %}

<body>
    

    <!-- inner banner -->
    <div class="inner-banner-w3ls py-5" id="home">
        <div class="container py-xl-5 py-lg-3">
            <!-- register  -->
            <div class="modal-body mt-md-2 mt-5">
                <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">Register Now</h3>
                <form action="#" method="post"enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                        <label class="col-form-label">Username</label>
                        <input type="text" class="form-control" placeholder="your name" name="t1" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Age</label>
                        <input type="number" class="form-control" placeholder="eg:30" name="t2" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">DOB</label>
                        <input type="date" class="form-control" name="t3" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Email</label>
                        <input type="email" class="form-control" placeholder="loremipsum@email.com" name="t4" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Phone</label>
                        <input type="number" class="form-control" placeholder="9087765423" name="t5" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Address</label>
                        <textarea class="form-control" placeholder="(po),(h)" name="t6" required=""></textarea>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Password</label>
                        <input type="password" class="form-control" placeholder="*****" name="t7" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="*****" name="t8" required="">
                    </div>
                    <div class="form-group">
                        <h2> Register with:</h2>
                        <label> Maker: </label><br>
                        <input type="radio" class="form-control" id="maker" name="t9" value="maker">
                    </div>
                    <div class="form-group">
                        <input type="radio" class="form-control" id="user" name="t9" value="user" >
                        <label>User: </label><br>
                    </div>
                    <div class="form-group">
                        <input type="file" name="img" class="form-control" required>
                    </div>
                

                    
                    <button type="submit" class="btn button-style-w3">Register</button>
                    {% if msg %}
                    <script>
                        alert('{{msg}}');
                    </script>
                    {% endif %} 
                </form>
            </div>
            <!-- //register -->
        </div>
    </div>
    <!-- //inner banner -->



</body>

{% endblock %}
<form action="{% url 'registration' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
    
        <tr>
            <td>
                <label>name:</label><br>
                <input type="text" placeholder="eg:john" name="t1" required >
    
    
            </td>
        </tr>
        <tr>
            <td>
                <label>age:</label><br>
                <input type="number" placeholder="eg:30" name="t2" required >
            </td>
        </tr>
        <tr>
            <td>
                <label>DOB:</label><br>
                <input type="date" name="t3" required >
    
            </td>
    
        </tr>
        <tr>
            <td>
                <label>email:</label><br>
                <input type="email" placeholder="eg:nighi@gmail.com" name="t4" required >
            </td>
        </tr>
        <tr>
            <td>
                <label>phno:</label><br>
                <input type="number" placeholder="eg:1234567890" name="t5" required >
            </td>
        </tr>
        <tr>
            <td>
                <label>address:</label><br>
                <textarea placeholder="(po),(h)" name="t6" required></textarea>
               
            </td>
        </tr>
        <tr>
            <td>
                <label>password:</label><br>
                <input type="password" placeholder="eg:nbjhjnd" name="t7" required >
            </td>
        </tr>
        <tr>
            <td>
                <label>repeat password:</label><br>
                <input type="password" placeholder="same as above" name="t8" required >
            </td>
        </tr>
        <tr>
            <td>
                <h4> login with:</h4>
                <input type="radio" id="maker" name="t9" value="maker">
                <label> Maker: </label><br>
     
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" id="user" name="t9" value="user" >
                <label>User: </label><br>
            </td>
        </tr>
        <tr>
            <td>
                <input type="file" name="img" class="form-control" required>
            </td>
        </tr>
        <tr>
            <td>
                
                <input type="submit" value="register"  >
            </td>
        </tr>
    
    
    </table>
    {{msg}}
    </form>