{% extends "adminapp/adminapp_layout.html" %}
{% block content %}


<html lang="en"><head>
    <title>LEORA'Zz </title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Modernize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->

    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="../static/adminapp/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Bootstrap Css -->
    <!-- Common Css -->
    <link href="../static/adminapp/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="../static/adminapp/css/style4.css">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="../static/adminapp/css/fontawesome-all.css" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->

    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--//web-fonts-->
</head>

<body>
    <div class="wrapper">
        
        

        
        <div id="content">
            
            
            

            
            
            

            
            <section class="tables-section">
                
                
                

                
                
                

                <!-- table3 -->
                <div class="outer-w3-agile mt-3">
                    
                    <table class="table table-striped">
                        
                        
                    </table>

                    <h4 class="tittle-w3-agileits mb-4 mt-5">VIEW_REGISTERED</h4>
                    <table class="table table-striped table-dark">
                        <thead>
                          <tr>
                            <td>Name</td>
                            <td>Age</td>
                            <td>DOB</td>
                            <td>E-mail</td>
                            <td>PHNO</td>
                            <td>Address</td>
                            <td>Password</td>
                            <td>usertype</td>
                            <td>Profile pic</td>
                          </tr>  
                        </thead>
                        <tbody>
                            
                            {% for i in data %}
                            <tr>
                                <td> {{ i.name }}</td>
                                <td> {{ i.age }}</td>
                                <td> {{ i.DOB }}</td>
                                <td> {{ i.email }}</td>
                                <td> {{ i.phno }}</td>
                                <td> {{ i.address }}</td>
                                <td> {{ i.password }}</td>
                                <td>{{i.typ}}</td>
                                <td><img src="{{i.image.url}}" height="100" width="100" alt="loading" /></td>                            
                            </tr>
                            {% endfor %}                           
                            
                        </tbody>
                    </table>
                </div>
                <!--// table3 -->

                
                
                

                
                
                

                
                
                

                
                
                

            </section>

            <!--// Tables content -->

            
        </div>
    </div>


    <!-- Required common Js -->
    <script src="..static/adminapp/js/jquery-2.2.3.min.js"></script>
    <!-- //Required common Js -->

    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- Js for bootstrap working-->
    <script src="../static/adminapp/js/bootstrap.min.js"></script>
    <!-- //Js for bootstrap working -->



</body></html>









<table border="1">
    <tr>
        <th> Name </th>
        <th> Age</th>
        <th> DOB </th>
        <th> Email </th>
        <th> phone </th>
        <th> Address</th>
        <th> Password</th>
        <th> usertype </th>
        <th>propic</th>
    </tr>
    {% for i in data %}
    <tr>
        <td> {{ i.name }}</td>
        <td> {{ i.age }}</td>
        <td> {{ i.DOB }}</td>
        <td> {{ i.email }}</td>
        <td> {{ i.phno }}</td>
        <td> {{ i.address }}</td>
        <td> {{ i.password }}</td>
        <td>{{i.typ}}</td>
        <td><img src="{{i.image.url}}" height="100" width="100" alt="loading" /></td>
    </tr>

    {% endfor %}
</table>
{% endblock %}